<form action="action_page.php">
    <div class="container">
      <h1>Register</h1>
  
  
        <div class="container signin">
      <p>Already have an account? <a href="#">Sign in</a>.</p>
    </div>
        <p>To create an account, enter the following information.</p>
      <hr>
  
      <label for="email"><b>Email</b></label><br>
      <input type="text" placeholder="Enter Email" name="email" id="email" required><br><br>
  
      <label for="psw"><b>Password</b></label><br>
      <input type="password" placeholder="Enter Password" name="psw" id="psw" min="8" required><br><br>
  
      <label for="psw-repeat"><b>Repeat Password</b></label><br>
      <input type="password" placeholder="Repeat Password" name="psw-repeat" id="psw-repeat" min="8" required><br><br>
      
  
        Birthday: <br><input type="date" name="birthday" required><br><br>
  
      Gender:<br>
      <input type="radio" name="gender" value="Male">Male
      <input type="radio" name="gender" value="Female">Female
      <input type="radio" name="gender" value="Other">Other<br><br>
  
      <p>By creating an account you agree to our <a href="#">Terms & Privacy</a>.</p>
      <button type="submit" class="registerbtn">Register</button>
    </div>
  
  
  </form>