<form action="action_page.php">
    <div class="container">
      <h1>Login Page</h1>

        <p>To Login an account, enter the following information.</p>
      <hr>
  
      <label for="email"><b>Email</b></label><br>
      <input type="text" placeholder="Enter Email" name="email" id="email" required><br><br>
  
      <label for="psw"><b>Password</b></label><br>
      <input type="password" placeholder="Enter Password" name="psw" id="psw" min="8" required><br><br>
  
      
      
  
  
      <input type="checkbox" id="vehicle1" name="vehicle1" value="Bike">
			  <label for="checkbox">By Login an account you agree to our <a href="www.4dalertsupport.com">Terms & Privacy</a>.</label><br><br>
      <button type="submit" class="LOGIN">LOGIN</button>
    </div>
  
  
  </form>